body {
    background: #004630;
}
.Barlow{
    font-family: 'Barlow', sans-serif;
}
#navbar{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-top: -0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    background-color: #006445;
}
.link{
    margin-right: auto;
    margin-top: 1.125em;
}
.first-link{
    margin-left: 1em;
}
.tcrlogo{
    background: white;
    width: 11.25em;
    height: 4em;
}
a{
    color: white;
}
a:hover{
    text-decoration: underline #dbff4a;
    transition: color .2s ease
}
#bot-response{
    color: white;
}
#chat-box{
    display: flex;
    flex-direction: column;
    align-content: center;
}
#chat{
}

#welkom{
    color: white;
}